@using HeadlessArchitect.Core.Models.ContentTypes
@using Deliverystack.StackContent.Models.Fields
@model Deliverystack.RazorPages.Models.PageModelBase;

<div style="border: 1px solid black; background: pink; padding: 10px 10px 10px 10px">
    __home.cshtml

    @{
        if (Model.EntryModel is HomePage it)
        {
            foreach(ReferenceField field in it.Reference)
            {
                @field.GetEntry().GetType();
            }
        }
    }

</div>
